<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Posts Detail</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Quora</h1>
      <a class="create" href="http://localhost:8080/posts/new"
        >Create new post</a
      >
      <h2>All Posts</h2>
      <% for( post of posts ) { %>
      <div class="post">
        <h4 class="post-id">Post Id : <%= post.id %></h4>
        <h4 class="post-username">Username: <%= post.username %></h4>
        <p class="post-content">Content : <%= post.content %></p>
        <a href="/posts/<%= post.id %>">Show in detail</a>
        <a href="/posts/<%= post.id %>/edit">Edit Post</a><br /><br>
        <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
          <button class="delete">Delete</button>
        </form>
      </div>
      <% } %>
    </div>
  </body>
</html>
